@{
    ViewData["Title"] = "Entrada de produção";
}

<div class="text-center">

    <section>
        <div>
            <a class="navbar-brand" asp-area="" asp-route-tipo="BANDA" asp-route-unidade="182" asp-controller="EntradaProducao" asp-action="Tabela"><strong>Banda</strong></a>

        </div>
        <div>
            <a class="navbar-brand" asp-area="" asp-route-tipo="DIANTEIRO" asp-route-unidade="70" asp-controller="EntradaProducao" asp-action="Tabela"><strong>Dianteiro</strong></a>
        </div>
        <div>
            <a class="navbar-brand" asp-area="" asp-route-tipo="TRASEIRO" asp-route-unidade="70" asp-controller="EntradaProducao" asp-action="Tabela"><strong>Traseiro</strong></a>
        </div>
         <div>
            <a class="navbar-brand" asp-area="" asp-route-tipo="PA" asp-route-unidade="70" asp-controller="EntradaProducao" asp-action="Tabela"><strong>Ponta de Agulha</strong></a>
        </div>
    </section>
</div>
