@model EntradaProducaoViewModel
@section Scripts {
    <script>
        function atualizarPartial(parametro) {
            var url = "/EntradaProducao/TabelaParcial/@ViewBag.TipoAtual/"; //TROCAR PARAMETRO TIPO DE PRODUÇÃO
            if (parametro) {
                var url = url + encodeURIComponent(parametro);
            }
            $('#disponibilidade').load(url);
        }

        $(document).ready(function () {
            $("#atualizar-botao").click(function () {
                var parametro = $("#parametro-dropdown").val();
                atualizarPartial(parametro);
            });
        });
    </script>
}

@{
    ViewData["Title"] = "Entrada de produção";
}

<div id="partial-view-container">
    <div>
        <p>@ViewBag.TipoAtual</p>

        <select id="parametro-dropdown" class="btn btn-primary">
            @foreach (var item in ViewBag.Siglas)
            {
                <option value="@item">@item</option>
            }
        </select>
        <button class="btn btn-primary" id="atualizar-botao">Atualizar</button>
    </div>
</div>


<div id="disponibilidade" class="text-center table-responsive">
    @await Component.InvokeAsync("TabelaParcial", new { tipo = @ViewBag.TipoAtual, unidade = "PDP" })
</div>






